 <!-- Hero -->
<section class="hero-fullscreen error-page2 overlay bg-img-1">
    <div class="hero-container">
        <div class="hero-content">

            <h2 class="color subheading mt120">Well Done and thank you!<span aria-hidden="true" class="icon-happy"></span></h2>
            <h3 class="large white mb30">We have sent you an email to confirm your account</h3>
     
           
        </div>
    </div>
</section>
<section class="pt100 parallax bg-img-5">

    <div class="row">
        <div class="col-md-10 mr-auto">
            <div class="testimonials white owl-carousel">
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>Where there are experts there will be no lack of learners.</h4>
                    <h5 class="subheading">Swahili Proverb</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>You do not teach the paths of the forest to an old gorilla.</h4>
                    <h5 class="subheading">Congolese proverb</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>There is only one success: to be able to spend your life in your own way</h4>
                    <h5 class="subheading">Christopher Morley</h5>

                </div>

                <div>
                    <i class="vossen-quote color"></i>
                    <h4>The wealth which enslaves the owner isn’t wealth.</h4>
                    <h5 class="subheading">Yoruba</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>It takes a village to raise a child.</h4>
                    <h5 class="subheading">African proverb</h5>


                </div>
            </div>
        </div>
    </div>
</section>


