 <!-- Hero -->
<section class="hero-fullscreen error-page overlay bg-img-1">
    <div class="hero-container">
        <div class="hero-content">

            <h2 class="color subheading mt30">Eish Hade!<span aria-hidden="true" class="icon-sad"></span></h2>
            <h1 class="large white mb30">There was an error processing your request</h1>
            <p class="white">The page you requested couldn't be found, it has been removed<br>or moved and the URL was not changed accordingly.</p>
            <a href="index.html" class="btn btn-primary btn-md mt40"><i class="ion-arrow-left-c"></i> Back to home page</a>

        </div>
    </div>
</section>

