



<section class="checkout">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mr-auto text-center mt40 mb40">
                <div class="section-heading">
                    <h5>Upload Profile Picture</h5>
                    <hr class="separator">
                </div>

              @{Html.RenderPartial("_Upload"); }

            </div>

        </div>





    </div>




</section>

