
@{
    ViewBag.Title = "View";
}

<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="blog-standard">
                    
                        <li>
                            <div><b>Last Updated</b></div>
                        <div class="side-details">
                            <div class="post-date">
                    
                                <h4 class="month">Jan</h4>
                                <h3 class="day">30</h3>
                                <span class="year">2016</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Personal Information</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                                                    </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                            </div>
                    </li>
                    <li>
                        <div class="side-details">
                            <div class="post-date">
                         
                                <h4 class="month">Dec</h4>
                                <h3 class="day">24</h3>
                                <span class="year">2015</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Cover Letter</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="side-details">
                            <div class="post-date">
                             
                                <h4 class="month">Oct</h4>
                                <h3 class="day">17</h3>
                                <span class="year">2015</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Working Experience</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="side-details">
                            <div class="post-date">
                        
                                <h4 class="month">Oct</h4>
                                <h3 class="day">17</h3>
                                <span class="year">2015</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Education</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="side-details">
                            <div class="post-date">
                                
                                <h4 class="month">Oct</h4>
                                <h3 class="day">17</h3>
                                <span class="year">2015</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Language</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="side-details">
                            <div class="post-date">
                              
                                <h4 class="month">Oct</h4>
                                <h3 class="day">17</h3>
                                <span class="year">2015</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Skill</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="side-details">
                            <div class="post-date">

                                <h4 class="month">Oct</h4>
                                <h3 class="day">17</h3>
                                <span class="year">2015</span>
                            </div>
                        </div>
                        <div class="post-content">

                            <div class="post-text">
                                <a class="link-to-post" href="blog-post-carousel.html"><h4>Uploaded Documents</h4></a>
                                <p class="blog-post-categories">
                                    <span><i class="ion-edit"></i></span>
                                    <a href="#">Edit</a>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet turpis mattis tincidunt. Nulla nibh tellus, euismod at commodo quis, dictum eget tortor. Aliquam varius, nulla nec placerat consequat, tortor ante dictum ligula, in lobortis sapien lectus sed elit...<p>
                            </div>
                        </div>
                    </li>
                
                </ul>
                <!-- Pagination -->
                <div class="col-md-12 text-center">
                    <ul class="blog-pagination">
                        <li>
                            <a href="#">
                                <i class="ion-android-arrow-back"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ion-android-arrow-forward"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Pagination -->
            </div>
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <div class="blog-widget">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat.</p>
                </div>
                <div class="blog-widget">
                    <h5>Categories</h5>
                    <ul class="category-list list-icons">
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>Travel</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>
                            
                            
                            </a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>Wander</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>Graphics</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>Other Bits</a></li>
                    </ul>
                </div>
                <div class="blog-widget blog-tags">
                    <h5>Tags</h5>
                    <ul class="tags-list">
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Apps</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
                <div class="blog-widget">
                    <h5>Archives</h5>
                    <ul class="category-list list-icons">
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>April 2016</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>March 2016</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>February 2016</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>January 2016</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-right"></i>December 2015</a></li>
                    </ul>
                </div>
                <div class="sidebar-share">
                    <ul class="list-inline">
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li><a href="#"><i class="ti-pinterest-alt"></i></a></li>
                        <li><a href="#"><i class="ti-google"></i></a></li>
                    </ul>
                </div>

            </div>
            <!-- End Sidebar -->
        </div>
    </div>
</section>            
