@{
    ViewBag.Title = "Price List";
}

<section class="page-title parallax overlay bg-shortcodes">
    <div class="page-title-content">
        <div class="container">
            <div class="col-sm-12 text-center white">
                <h1>Our Tender Listing Price List</h1>
                <hr class="separator">
                <h5 class="subheading">Begin your journey, begin with us</h5>
            </div>
        </div>
    </div>
</section>

<!-- End Page Hero -->
<!-- Start Price List -->
<section class="pt120 pb100">
    <div class="container">
        <div class="row">

            <div class="col-md-4 ">
                <div class="price-box">
                    <h4>1 Tender Listing</h4>
                    <h2 class="price-price">
                        <sup>R</sup>
                        <span>1 300.00<span>/ mo</span></span>
                    </h2>
                    <div class="price-features">
                        <h5>75,000 Montly Visits</h5>
                        <p>Email Support</p>
                        <p>24/7 Free Support</p>
                        <p>5GB Bandwidth</p>
                        <p>100GB Storage</p>
                        <p>Free Upgrades</p>
                    </div>
                    <a href="#" class="btn btn-primary btn-md btn-appear"><span>Register and post tender advert<i class="ion-android-arrow-forward"></i></span></a>
                    <br />
                    <br />
                    <a href="#" class="btn btn-primary btn-md btn-appear"><span>Only post tender advert<i class="ion-android-arrow-forward"></i></span></a>
                </div>
            </div>

            <div class="col-md-4 price-table-featured">
                <div class="price-box">
                    <h4>2 Tender Listings</h4>
                    <h2 class="price-price">
                        <sup>R</sup>
                        <span>2 100.00<span>/ mo</span></span>
                    </h2>
                    <div class="price-features">
                        <h5>75,000 Montly Visits</h5>
                        <p>Email Support</p>
                        <p>24/7 Free Support</p>
                        <p>5GB Bandwidth</p>
                        <p>100GB Storage</p>
                        <p>Free Upgrades</p>
                    </div>
                    <a href="#" class="btn btn-primary btn-md btn-appear"><span>Register and post tender adverts<i class="ion-android-arrow-forward"></i></span></a>
                    <br />
                    <br />
                    <a href="#" class="btn btn-primary btn-md btn-appear"><span>Only post tender adverts<i class="ion-android-arrow-forward"></i></span></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="price-box">
                    <h4>5 Tender Listings</h4>
                    <h2 class="price-price">
                        <sup>R</sup>
                        <span>5 000.00<span>/ mo</span></span>
                    </h2>
                    <div class="price-features">
                        <h5>75,000 Montly Visits</h5>
                        <p>Email Support</p>
                        <p>24/7 Free Support</p>
                        <p>5GB Bandwidth</p>
                        <p>100GB Storage</p>
                        <p>Free Upgrades</p>
                    </div>
                    <a href="#" class="btn btn-primary btn-md btn-appear"><span>Register and post tender adverts<i class="ion-android-arrow-forward"></i></span></a>
                    <br />
                    <br />
                    <a href="#" class="btn btn-primary btn-md btn-appear"><span>Only post tender adverts<i class="ion-android-arrow-forward"></i></span></a>
                </div>
            </div>

           

        </div>
    </div>
</section>        
