<!-- Fun Facts -->
<section class="page-title parallax bg-img-4">
    <div class="page-title-content">
        <div class="container">
            <div class="col-sm-12 text-center">
                <h1 class="white-until-load">Who we<span class="bold"> are</span></h1>
				<div class="col-sm-12 text-center">
				   @*<p class="style-2">Vukasantewaa helps you find the perfect job by exposing your profile to potential employers as well as recruitment agencies who will be able to view your profile online.
                      Gets you the best quality candidates by providing you with features that will help you manage the tasks of candidate recruitment efficiently.
					  Enables you to build your company profile to create an online presence that will showcase the expertise your company offers, and provides you with the opportunity to network with potential business partners and investors.
</p>*@
                <hr class="separator">
                @*<h5 class="subheading white-until-load">Moving with Passion</h5>*@
            </div>
        </div>
    </div>
</section>
<!-- End Fun Facts -->
<!-- Image Column -->

<!-- End Team -->

<section class="pt10 pb70">
    <div class="container">
        <div class="col-md-12 section-heading">
            
                @*<img src="~/img/backgrounds/SearchV.png" style="width:150px">*@

            <p>
                Youth unemployment remains stubbornly high in South Africa, and as a consequence the country is plagued by many social ills. Vukasantewaa draws on the spirit of the late great African queen and warrior, Yaa Asantewaa, who led the Ashanti rebellion against colonial rule in Ghana.</p>
            <p>Vukasantewaa helps you find the job that best suites you by exposing your profile to potential employers as well as recruitment agencies who will be able to view your profile online</p>
               <p> As Vukasantewaa, we also believe that the best leaders to guide the youth of South Africa to a prosperous future exhibit such qualities as the great Yaa Asantewaa. Entrepreneurs are individuals who have the capacity to lead South Africa to a future that is poverty free by creating job opportunities for the youth and well creating sustainable wealth for themselves.
            </p>
        <hr class="separator">
        </div>
        <div class="vertical-align">
          
            <div class="col-md-6">
                <img src="~/img/backgrounds/SearchV.png" class="img-responsive mr-auto alt=" #">
            </div>

            <div class="col-md-6">
                <h2>Job Search</h2>
                <hr class="separator left">
             
                <ul class="list-icons">
                    <li><i class="ion-ios-pulse-strong color"></i>Search for jobs.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Apply for jobs.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Create a comprehensive profile.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Receive tips of potential employers and job opportunities based on your individual skill and experience matrix.</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- End Image Column -->
<!-- Features -->
<section class="parallax bg-img-3">
    <div class="container pt70 pb70">
        <div class="row-flex-center">

            <div class="col-md-5 text-left pr30 mt40 mb40 white">
                <h2>Register your small business</h2>

                <ul class="list-icons">
                    <li><i class="ion-ios-pulse-strong color"></i>Create a wish-list of what the company intends i.e. company goals, service offering and target market.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Register their BBEE scores and through the application.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Network with similar minded individuals.</li>
                </ul>
            </div>
         
                @*<div class="col-md-7 mt60 mb40">
                    <div class="progress-bars-3">
                        <p>Branding</p>
                        <div class="progress" data-percent="85%">
                            <div class="progress-bar">
                                <span class="progress-bar-tooltip">85%</span>
                            </div>
                        </div>
                        <p>User Experience</p>
                        <div class="progress" data-percent="100%">
                            <div class="progress-bar progress-bar-primary">
                                <span class="progress-bar-tooltip">100%</span>
                            </div>
                        </div>
                        <p>Web Design</p>
                        <div class="progress" data-percent="70%">
                            <div class="progress-bar progress-bar-primary">
                                <span class="progress-bar-tooltip">70%</span>
                            </div>
                        </div>
                        <p>Fun</p>
                        <div class="progress" data-percent="82%">
                            <div class="progress-bar progress-bar-primary">
                                <span class="progress-bar-tooltip">82%</span>
                            </div>
                        </div>
                    </div>
                
                </div>*@

        </div>
        @*<div class="col-md-7 mt60 mb40 white">
                <div class="progress-bars-3">
                    <p>Branding</p>
                    <div class="progress white" data-percent="85%">
                        <div class="progress-bar">
                            <span class="progress-bar-tooltip">85%</span>
                        </div>
                    </div>
                    <p>User Experience</p>
                    <div class="progress white" data-percent="100%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <p>Web Design</p>
                    <div class="progress white" data-percent="70%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">70%</span>
                        </div>
                    </div>
                    <p>Fun</p>
                    <div class="progress white" data-percent="82%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">82%</span>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
    </div>
</section>
<!-- End Features -->
<!-- Image Column -->
<section class="pt80 pb70">
    <div class="container">
        <div class="vertical-align">

			<div class="col-md-6">
				<img src="~/img/backgrounds/Job Search (2).jpg" class="img-responsive mr-auto alt="#">
			</div>

            <div class="col-md-6">
                <h2>Post a tender/business job</h2>
                <hr class="separator left">
              <ul class="list-icons">
                    <li><i class="ion-ios-pulse-strong color"></i>Post tender/business adverts.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Register and create a business profile.</li>
                    @*<li><i class="ion-ios-pulse-strong color"></i>Develop assessments for candidates to complete in order to screen the quality of your candidates.</li>*@
                    <li><i class="ion-ios-pulse-strong color"></i>One time tender issuers have the benefit of posting job adverts without registering.</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<section class="parallax bg-img-3">
    <div class="container pt70 pb70">
        <div class="row-flex-center">

            <div class="col-md-5 text-left pr30 mt40 mb40 white">
                <h2>Recruitment agency/business owner</h2>
              <ul class="list-icons">
                    <li><i class="ion-ios-pulse-strong color"></i>Post jobs once off without registering, at a fee.</li>
                    <li><i class="ion-ios-pulse-strong color"></i>Compile job descriptions and post jobs.</li>
                    @*<li><i class="ion-ios-pulse-strong color"></i>Develop assessments for candidates to complete in order to screen the quality of the candidates.</li>*@
                    <li><i class="ion-ios-pulse-strong color"></i>Automated receipts of CVs from registered candidates.</li>
                    <li>@*<i class="ion-ios-pulse-strong color"></i>A reporting functionality that will provide recruiters with a view of the employment market trends.*@</li>
                </ul>
            </div>

        </div>
        @*<div class="col-md-7 mt60 mb40 white">
                <div class="progress-bars-3">
                    <p>Branding</p>
                    <div class="progress white" data-percent="85%">
                        <div class="progress-bar">
                            <span class="progress-bar-tooltip">85%</span>
                        </div>
                    </div>
                    <p>User Experience</p>
                    <div class="progress white" data-percent="100%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <p>Web Design</p>
                    <div class="progress white" data-percent="70%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">70%</span>
                        </div>
                    </div>
                    <p>Fun</p>
                    <div class="progress white" data-percent="82%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">82%</span>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
    <div class="col-md-6 mr-auto text-center">
        @Html.ActionLink("Return to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @Class = "btn btn-lg btn-primary btn-circle btn-appear mt30" })
</div>
</section>


<!-- End Image Column -->
<!-- Testimonials -->
<section class="pt100 parallax bg-img-5">

    <div class="row">
        <div class="col-md-10 mr-auto">
            <div class="testimonials white owl-carousel">
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>Where there are experts there will be no lack of learners.</h4>
                    <h5 class="subheading">Swahili Proverb</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>You do not teach the paths of the forest to an old gorilla.</h4>
                    <h5 class="subheading">Congolese proverb</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>There is only one success: to be able to spend your life in your own way</h4>
                    <h5 class="subheading">Christopher Morley</h5>

                </div>

                <div>
                    <i class="vossen-quote color"></i>
                    <h4>The wealth which enslaves the owner isn’t wealth.</h4>
                    <h5 class="subheading">Yoruba</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>It takes a village to raise a child.</h4>
                    <h5 class="subheading">African proverb</h5>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials --> 
