
@{
    ViewBag.Title = "Home Page";
}

<!-- Page Hero -->
<section class="hero-fullwidth parallax bg-img-4">
    <div class="hero-container container">
        <div class="hero-content text-center">

            <div class="col-sm-12 headerst1 mr-auto text-center pt20">

                <img src="~/img/backgrounds/Transparent.png" class="logo-light" style="width:250px" alt="#">

                <hr class="separator">
                <br />
                <h1 class="large  mt20">Moving with <span class="bold">Passion</span></h1>
                <h5 class="subheading mt20 mb30">Empowering South Africas Youth</h5>


                @*<a href="@Url.Action("Create","CandidatePersonalInfProfile")" class="btn btn-lg btn-primary btn-square btn-appear"><span>Candidates <i class="ion-checkmark"></i></span></a>
                    <a href="#" class="btn btn-lg btn-primary btn-square btn-appear"><span>Recruitors <i class="ion-checkmark"></i></span></a>*@
            </div>


        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</section>

<!-- End Page Hero -->
<!-- Portfolio -->
<!-- End Callout -->
<!-- Testimonials -->
<section class="pt100 parallax overlay bg-img-5">

    <div class="container">

        <div class="row" style="margin-top:-160px">
            <div class="col-md-12">

                <div class="col-md-3 mb30 box-hover">

                    <a href="/Account/Register?Roles=52269ac1-c75d-4687-9db8-1ef6ba66624a" class="a-box">
                        <div class="box contact-box">
                            <div>
                                <h5 class="subheading mb20"><i class="ion-ios-people"></i> Register Your Small Business</h5>
                                <p class="mb20">Are you a self-help type person?<br>Now we have common answers to your common questions, all available at your fingertips.</p>
                                <a class="read-more-link2 color ml0" href="blog-post-gallery.html"><span>Common Questions <i class="ion-android-arrow-forward"></i></span></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb30 box-hover-featured">
                    <a href="#" class="a-box">
                        <div class="box contact-box">
                            <div>
                                <h5 class="subheading mb20"><i class="ion-ios-person"></i>Search for Jobs</h5>
                                <p class="mb20">Quick question? Tweet at us, and we’ll be sure to get right back to you. Twitter's also a great way to stay up-to-date on Wander's new feature releases.</p>
                                <a class="read-more-link2 color ml0" href="blog-post-gallery.html"><span>Common Questions <i class="ion-android-arrow-forward"></i></span></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb30 box-hover-featured">
                    <a href="#" class="a-box">
                        <div class="box contact-box">
                            <div>
                                <h5 class="subheading mb20"><i class="ion-ios-person"></i>Post Tenders / Business Jobs </h5>
                                <p class="mb20">Quick question? Tweet at us, and we’ll be sure to get right back to you. Twitter's also a great way to stay up-to-date on Wander's new feature releases.</p>
                                <a class="read-more-link2 color ml0" href="blog-post-gallery.html"><span>Common Questions <i class="ion-android-arrow-forward"></i></span></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb30 box-hover">
                    <a href="#" class="a-box">
                        <div class="box contact-box">
                            <div>
                                <h5 class="subheading mb20"><i class="ion-ios-personadd"></i>Recruitment Agency / Business Owner</h5>
                                <p class="mb20">If you’re encountering an issue or<br>problem when working with Wander, you can always email us directly or via the form below.</p>
                                <a class="read-more-link2 color ml0" href="blog-post-gallery.html"><span>Common Questions <i class="ion-android-arrow-forward"></i></span></a>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-md-10 mr-auto">
            <div class="testimonials white owl-carousel">
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>The two most important days in your life are the day you are born, and the day you find out why</h4>
                    <h5 class="subheading">Mark Twain</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>The journey of a thousand miles begins with one step.x</h4>
                    <h5 class="subheading">Lao Tzu</h5>

                </div>
                <div>
                    <i class="vossen-quote color"></i>
                    <h4>There is only one success: to be able to spend your life in your own way</h4>
                    <h5 class="subheading">Christopher Morley</h5>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Testimonials -->
