
<section>
	<div class="col-md-12 text-center">
		<h1 class="white-until-load"> User<span class="bold"> Agreement</span></h1>
		<div class="col-md-12 text-center">
			<hr class="separator">
		</div>
	</div>

</section>
<section>

    <div class="text-left mr-auto text-left col-md-9 mt40 mb40">
        <p class="col-lg-12">
        <p class="text-left "><b>1. INTRODUCTION</b></p>
        <p class="col-lg-12"><b>1.1. Contract</b></p>
        <p>
            By clicking “Sign Up”, “Register” or similar, you are agreeing to enter into a legally binding Contract with INTELLIQ GROUP.
        </p>
        <p>
            Your use of VUKASANTEWAA platforms is also subject to our Privacy Statement. VUKASANTEWAA is a platforms offered under this Contact by INTELLIQ GROUP (Pty) Ltd, a company duly registered under South African Companies law with a registration number 2015/103332/07 having business address at 527 34 Lomonde Street, Chiawelo Ext 3, Gauteng, 1818.
        </p>
        <p>
            The personal information provided to, or collected by or for, VUKASANTEWAA is controlled by INTELLIQ GROUP.
        </p>
        <p class="col-lg-12"><b>1.2. Members and Visitors</b></p>
        <p>
            When you “Sign Up”, “Register” or similar, you become an account holder of, or a member of, VUKASANTEWAA. If you have chosen not to “Sign Up”, “Register” or similar, you may access certain features of VUKASANTEWAA platform as a visitor.
        </p>
        <p class="col-lg-12"><b>1.3. Change</b></p>
        <p>
            We may modify this Contract and our Privacy Statement from time to time. If we make material changes to it, we will provide you notice through our platforms, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may terminate your account. Your continued use of our platform after we publish or send a notice about our changes to these terms means that you are consenting to updated terms.
        </p>

        <p class="text-left"><b>2. OBLIGATION</b></p>
        <p class="col-lg-12"><b>2.1. Platform Eligibility</b></p>
        <p>
            VUKASANTEWAA platforms are not for use by anyone under the age of 16 without parental supervision or consent thereof.
        </p>
        <p>To use the platform, you agree that:</p>
        <p>
            (1) You are 16 or older, if younger, you have the required parental supervision or consent;
        </p>
        <p>
            (2) You will only have one VUKASANTEWAA account or membership, which must be in your name; and
        </p>
        <p>
            (3) You are not already restricted by INTELLIQ GROUP, VUKASANTEWAA platform or any of our associates/affiliates platform from using the platform.
        </p>
        <p class="text-left"><b>3. RIGHTS AND LIMITS</b></p>
        <p class="col-lg-12"><b>3.1. Your License to INTELLIQ GROUP</b></p>

        <p>
            As between you and INTELLIQ GROUP, you own the information and content you submit to VUKASANTEWAA platform and you only grant INTELLIQ GROUP the following non-exclusive license: a right to use, copy, modify (where necessary), distribute, publish, and process, the content and information through our platform, including but not limited to VUKASANTEWAA, without any further consent, notice and/or compensation to you or others.
        </p>
        <p>
            These rights are limited in the following ways:
        </p>
        <p>
            (1) You can end this license for specific content by deleting such content from the platform, or generally by terminating your account or membership.
        </p>
        <p>
            (2) We will not include your information and content in an advertisements for the products and platforms of third parties to others without your separate consent (including sponsored content). However, we have the right, without payment to you or other, to serve ads near your content and information, and INTELLIQ GROUP company pages may be visible as well.
        </p>
        <p>
            (3) While we may edit and make formatting changes to your content (such as translation it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.
        </p>
        <p>
            (4) As we only have a non-exclusive right to your information and content in VUKASANTEWAA, you may choose to make such available to others.
        </p>
        <p>
            You agree that we may access, store and use any information that you provide in accordance with the terms of our Privacy Statement.
        </p>
        <p>
            Where you, as a user, submits suggestions or other feedback regarding the VUKASANTEWAA platform, you agree that INTELLIQ GROUP may use and share such feedback for any purpose without compensation to you or any other person.
        </p>
        <p>
            You agree to only provide information that does not violate the law not anyone’s right. You also agree that your account information will be truthful.
        </p>
        <p class="col-lg-12"><b>3.2. Platform Availability</b></p>
        <p>We may change or discontinue any of our platforms. We do not promise to store or keep displaying any information you provided.

        <p>
            VUKASANTEWA platform is not a storage platform, therefore you agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or other provide, except to the extent required by applicable law.
        </p>
        <p class="col-lg-12"><b>3.3. Other Content, Sites and platforms</b></p>

        <p>
            By using our platforms, you may encounter information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. INTELLIQ GROUP generally does not review information provided by our account holders, members or others. You agree that INTELLIQ GROUP is not responsible for other’s (including other account holders’ or members’) information. We cannot always prevent this misuse of our platform, and you agree that we are not responsible for any such misuse.
        </p>
        <p>
            You are responsible for deciding if you want third party to access your information and if you want to access third party information and/or use third party links from our platform. INTELLIQ GROUP will not be held liable if your information was unlawfully copied from our platform though immoral means and/or distributed without your consent.
        </p>
        <p>
            If you so allow a third party to access your information in VUKASANTEWAA, that third party may access all the information on VUKASANTEWAA related to you. Where a third party is an entity, they may have their own legal terms and privacy policies, and you may be giving them permission to use your information in ways we would not.
        </p>
        <p>
            Except to the limited extent, it may be required by applicable law, INTELLIQ GROUP is not responsible for the third party sites, the use thereof is at your own risk.
        </p>
        <p>
            If you so connect to a third party for whatever purpose, INTELLIQ GROUP is not party to that relationship, and you agree that INTELLIQ GROUP is not responsible for the outcome of such relationship.
        </p>
        <p class="col-lg-12"><b>3.4. Limits</b></p>
        <p>
            INTELLIQ GROUP reserve the right to limit your use of the VUKASANTEWAA platform, including your ability to connect with other users (account holders or members). INTELLIQ GROUP reserve the right to restrict, suspend, or terminate your account if INTELLIQ GROUP believes that you may be in breach of this contact or law or are misusing the platform.
        </p>
        <p class="col-lg-12"><b>3.5. Intellectual Property Rights</b></p>

        <p>
            INTELLIQ GROUP reserves all of its intellectual property rights in the platforms. Using the platform does not give you any ownership in our platform or the information made available through the platform. Trademarks and logos used in connections with the platform are to be the trademarks of their respective owners. INTELLIQ GROUP, and VUKASANTEWAA logos, and other trademarks, platform marks, graphics, used for our platform are trademarks or registered trademarks of INTELLIQ GROUP.
        </p>
        <p class="text-left"><b>4.Disclaimer AND Limit of liability</b></p>
        <p class="col-lg-12"><b>4.1. No warranty</b></p>
        <p>
            To the extent allowed under law, INTELLIQ GROUP and its affiliates:
        </p>
        <p>
            (A) Disclaim all implied warranties and representations (e.g. warranties of fitness for a particular purpose, accuracy of data, and non-infringement);
        </p>
        <p>
            (B) Do not guarantee that the platform will function without interruption or errors; and
        </p>
        <p>
            (C) Provide the platform (including content and information) on an “AS IS” and “AS AVAILABLE” basis.
        </p>
        <p class="col-lg-12"><b>4.2. Exclusion of Liability</b></p>
        <p>
            To the extent permitted under law (and unless INTELLIQ GROUP has entered into a separate written agreement that overrides this contract), INTELLIQ GROUP and its affiliates (and those that INTELLIQ GROUP works with to provide the platform) shall not be liable to you or others for any indirect, incidental, special, consequential or punitive damages, or any loss of data, opportunities, reputation, profits or revenues, related to the platform (e.g. offensive or defamatory statements, down time or loss, use of, or changes to, your information or content).
        </p>
        <p>
            In no event shall the liability of INTELLIQ GROUP and its affiliates (and those that INTELLIQ GROUP works with to provide the platform) exceed, in the aggregate for all claims, an amount that is the lesser of (A) five ties the most recent monthly or yearly fee that you paid for a premium platform, if any or (B) R10 000.
        </p>
        <p>
            This limitation of liability is part of the basis of the bargaining between you and INTELLIQ GROUP and shall apply to all claims of liability (e.g. warranty, tort, negligence, contract, law) and even if INTELLIQ GROUP or its affiliates has been told of the possibility of any such damage, and even if these remedies fail their essential purpose.
        </p>
        <p>
            Some laws do not allows the limitation or exclusion of liability, so these limits may necessarily not apply to you.
        </p>
        <p class="text-left"><b>5. Termination</b></p>
        <p>
            (A) Both you and INTELLIQ GROUP may terminate this Contract at any time with notice to other. On termination, you lose the right to access or use the platform. The following shall survive terminate:
        </p>
        <p>
            (B) Our right to use and disclose your feedback;
        </p>
        <p>
            (C) Account holder, member and/or visitors’ right to further re-use information you shared with them through the platform to the extent copied or re-shaped prior to termination;
        </p>
        <p>
            (D) Section 4, 6 and 7 of this contract;
            Any amounts owed by either party prior to termination remain owed after termination.
        </p>
        <p class="text-left"><b>6. Dispute Resolution</b></p>
        <p>
            You agree that the laws of the Republic of South Africa, excluding conflict of laws rules, shall exclusively govern any dispute to this Contract and/or the platform. We both agree that all of these claims can only be litigated Pretoria, South Africa, and we each agree to personal jurisdiction of the court located in Pretoria, South Africa.
        </p>
        <p class="text-left"><b>7. General Terms</b></p>
        <p>
            If a court with authority over this Contract finds any part of it not enforceable, you and us (INTELLIQ GROUP and its affiliates) agree that the court shall modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and us agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract. To the extent allowed by law, the English language version of this Contract is binding and other translations are for convenience only. This Contract (including additional terms that may be provided by us when you engage with a feature of the platform) is the only agreement between us regarding the platform and supersedes all prior agreements for the platform.
        </p>
        <p>If we don't act to enforce a breach of this Contract, that does not mean that INTELLIQ GROUP has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your membership or use of Platforms) to anyone without our consent. However, you agree that INTELLIQ GROUP may assign this Contract to its affiliates or a party that buys it without your consent. There are no third party beneficiaries to this Contract.

        <p>
            We reserve the right to change the terms of this Contract and will provide you notice if we do and we agree that changes cannot be retroactive. If you don't agree to these changes, you must stop using the Platforms.
        </p>
        <p>
            You agree that the only way to provide us legal notice is at the addresses provided in Section 10
        </p>
        <p class="text-left"><b>8. VUKASANTEWAA “Dos” and “Don’ts”</b></p>
        <p class="col-lg-12"><b>8.1. Dos</b></p>
        <p>You agree that you will:

        <p>
            (A) Comply with all applicable laws, including, without limitation, Privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;
        </p>
        <p>
            (B) Provide accurate information to us and keep it updated;
        </p>
        <p>
            (C) User your name on your profile;
        </p>
        <p>
            (D) Use the platform in a professional manner
        </p>
        <p class="col-lg-12"><b>8.2. Don’ts</b></p>
        <p>
            You agree that you will not:
        </p>
        <p>
            (A) Act in an unlawful or unprofessional manner in connection with our platform, including being dishonest, abusive or discriminatory;
        </p>
        <p>
            (B) Use an image that is not your likeness or head-shot photo for your profile;
        </p>
        <p>
            (C) Create a false identity on VUKASANTEWAA.
        </p>
        <p>
            (D) Misrepresent your identity (e.g. by using a pseudonym), your current or previous positions, qualifications or affiliations with a person or entity;
        </p>
        <p>
            (E) Create a member’s account for anyone other than yourself (a real person);
        </p>
        <p>
            (F) Use or attempt to use another’s account;
        </p>
        <p>
            (G) Harass, abuse or harm another person;
        </p>
        <p>
            (H) Send or post any unsolicited or unauthorised advertising, “junk mail”, “spam”, “chain letter”, “pyramid schemes,” or any form of solicitation unauthorised by INTELLIQ GROUP;
        </p>
        <p>
            (I) Develop, support or use software, devices, script, robots, or any other means or process (including crawlers, browser plugins and add-ons, or any other technology or manual work) to scrape the platform or otherwise copy profiles and other data from the platform;
        </p>
        <p>
            (J) Bypass or circumvent any access control or platform use limits (such as caps on keyword searches);
        </p>
        <p>
            (K) Copy, use, disclose or distribute any information obtained from the platform, whether directly or through third parties (such as search engines), without the consent of INTELLIQ GROUP;
        </p>
        <p>
            (L) Solicit email addresses or other personal information from Members you don’t know, without authorization;
        </p>
        <p>
            (M) Use, disclose or distribute any data obtained in violation of this Contract;
        </p>
        <p>
            (N) Disclose information that you do not have the consent to disclose (such as confidential information of others (including your employer));
        </p>
        <p>
            (O) Violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets, or other proprietary rights. For example, do not copy or distribute (except through the available sharing functionality) the posts or other content of others without their permission, which they may give by posting under a Creative Commons license;
        </p>
        <p>
            (P)Violate the intellectual property or other rights of INTELLIQ GROUP, including, without limitation, (i) copying or distributing our learning videos or other materials or (ii) copying or distributing our technology, unless it is released under open source licenses; (iii) using the word “INTELLIQ GROUP” or our logos in any business name, email, or URL except as provided for by INTELLIQ GROUP;
        </p>
        <p>
            (Q) Use VUKASANTEWAA platform to send messages to people who don’t know you or who are unlikely to recognize you as a known contact;
        </p>
        <p>
            (R) Post anything that contains software viruses, worms, or any other harmful code;
        </p>
        <p>
            (S) Manipulate identifiers in order to disguise the origin of any message or post transmitted through the platform;
        </p>
        <p>
            (T) Create profiles or provide content that promotes escort platforms or prostitution;
        </p>
        <p>
            (U) Create or operate a pyramid scheme, fraud or other similar practice;
        </p>
        <p>
            (V) Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the platform or any related technology that is not open source;
        </p>
        <p>
            (W) Imply or state that you are affiliated with or endorsed by INTELLIQ GROUP without our express consent (e.g., representing yourself as an accredited VUKASANTEWAA member);
        </p>
        <p>
            (X) Rent, lease, loan, trade, sell/re-sell access to the platform or related data;
        </p>
        <p>
            (Y) Sell, sponsor, or otherwise monetize VUKASANTEWAA platform without INTELLIQ GROUP’s consent;
        </p>
        <p>
            (Z) Deep-link to our platform for any purpose other than to promote your profile or a Group on our platform, without INTELLIQ GROUP’s consent;
        </p>
        <p>
            (AA) Remove any copyright, trademark or other proprietary rights notices contained in or on our platform;
        </p>
        <p>
            (BB) Remove, cover or obscure any advertisement included on the platform;
        </p>
        <p>
            (CC) Use bots or other automated methods to access the Platforms, add or download contacts, send or redirect messages;
        </p>
        <p>
            (DD) Monitor the platform’s availability, performance or functionality for any competitive purpose;
        </p>
        <p>
            (EE) Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of the platform;
        </p>
        <p>
            (FF) Overlaying or therwise modifying the platform or their appearance;
        </p>
        <p>
            (GG) Access the platform except through the interfaces expressly provided by INTELLIQ GROUP, such as its mobile applications;
        </p>
        <p>
            (HH) Use a platform for tasks that it is not intended for;
        </p>
        <p>
            (II) Override any security feature of the platform;
        </p>
        <p>
            (JJ) Interfere with the operation of, or place an unreasonable load on, the platform (e.g., spam, denial of platform attack, viruses, gaming algorithms); and/or
        </p>
        <p>(KK)Violate any terms concerning a specific platform that are provided when you sign up for or start using such platform.

        <p class="text-left"><b>9. Complaints Regarding Content</b></p>
        <p>
            We respect the intellectual property right of others. We require that information posted by an account holder or member be accurate and not in violation of the intellectual property right or other rights of third parties. We provide a Statement and process for complaint concerning content posted by our account holder or member.
        </p>
        <p class="text-left"><b>10.	How To Contact Us</b></p>
        <p>
            If you want to send us notices or platforms of process, please contact us:
        </p>
         <p><b>ONLINE:</b><a href="/Home/Index"> vukasantewaa.co.za</a> </p>
        
        <p>
            OR
        </p>
        <p>
            <b>BY MAIL:</b><a href="mailto:legal@vukasantewaa.co.za?Subject=Legal%enquiry" target="_top"> legal@vukasantewaa.co.za</a>
        </p>
        @Html.ActionLink(" Return to Registration", "Register", "Account", routeValues: null, htmlAttributes: new { @Class = "btn btn-lg btn-primary btn-circle btn-appear mt30", id = "registerLink" })
        @Html.ActionLink("Return to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @Class = "btn btn-lg btn-primary btn-circle btn-appear mt30" })
    </div>
  
	       <div class="col-md-12 text-center">
		  <hr class="separator">
	    </div>

</section>
