

<section class="checkout">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mr-auto text-center mt40 mb40">
                <div class="section-heading">
                    <h5>Email Confirmation Successful</h5>
                    <hr class="separator">
                </div>

                <div>
                    <p>
                        Thank you for confirming your email.<br /> @Html.ActionLink("Login Here", "Login", "Account", routeValues: null, htmlAttributes: new { @Class = "btn btn-md btn-ghost-color", title = "Manage" })
                    </p>
                </div>

            </div>
            </div>
        </div>
    </section>
