

<section class="checkout">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mr-auto text-center mt40 mb40">
                <div class="section-heading">
                    <h5>Password Reset</h5>
                    <hr class="separator">
                </div>

                <div>
                    <p>
                        Please check your email to reset your password
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
